<a href="https://colab.research.google.com/github/PavelSazhin27/Innopolis_test/blob/main/Python_dop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Напишите программу, которая найдет все такие числа, которые делятся на 7, но не делятся на 5, от 2000 до 3200 (включая оба). Полученные числа должны быть напечатаны в последовательности, разделенной запятыми, в одной строке.

In [13]:
# вариант 1
l=[]
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    l.append(i)
print(l)
print(len(l))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]
138

In [19]:
l=[]
for i in range(2000,3201):
  if i%7==0:
    if i%5!=0:
      l.append(i)
print(l)
print(len(l))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]
138

In [7]:
# вариант 2
print(*(i for i in range(2000, 3201) if i%7==0 and i%5!=0), sep='|')

2002|2009|2016|2023|2037|2044|2051|2058|2072|2079|2086|2093|2107|2114|2121|2128|2142|2149|2156|2163|2177|2184|2191|2198|2212|2219|2226|2233|2247|2254|2261|2268|2282|2289|2296|2303|2317|2324|2331|2338|2352|2359|2366|2373|2387|2394|2401|2408|2422|2429|2436|2443|2457|2464|2471|2478|2492|2499|2506|2513|2527|2534|2541|2548|2562|2569|2576|2583|2597|2604|2611|2618|2632|2639|2646|2653|2667|2674|2681|2688|2702|2709|2716|2723|2737|2744|2751|2758|2772|2779|2786|2793|2807|2814|2821|2828|2842|2849|2856|2863|2877|2884|2891|2898|2912|2919|2926|2933|2947|2954|2961|2968|2982|2989|2996|3003|3017|3024|3031|3038|3052|3059|3066|3073|3087|3094|3101|3108|3122|3129|3136|3143|3157|3164|3171|3178|3192|3199

2. Напишите программу, которая может вычислить факториалы заданных чисел. Результаты должны быть напечатаны в последовательности, разделенной запятыми, в одной строке.

In [28]:
n =  int(input())
factor = 1
k = n
if k > 0:
  while k > 1:
    factor*=k
    k-=1
  print("Факториал от числа", n , "равен ", factor)

else:
  print("Ошибка!")

6
Факториал от числа 6 равен  720

In [38]:
def factorial1(a):
  factorial = 1
  num = a
  if a > 0:
    while a > 1:
      factorial *=a
      a -= 1
    print('\nФакториал числа', num, 'равен ', factorial)
  else:
    print('\nНе натуральное число!')

In [40]:
l = [3, 8, -2, 12]
for i in range(len(l)):
  print(factorial1(l[i]))

Факториал числа 3 равен  6
None

Факториал числа 8 равен  40320
None

Не натуральное число!
None

Факториал числа 12 равен  479001600
None

Напишите программу, которая принимает 2 числа X, Y в качестве входных данных с клавиатуры и генерирует двумерный массив. Значение элемента в i-й строке и j-м столбце массива должно быть i*j.  (нумерация с нуля)

Допустим для: i=3, j=5. Результат будет
[
[0, 0, 0, 0, 0], 
[0, 1, 2, 3, 4], 
[0, 2, 4, 6, 8]
]

In [48]:
x = int(input())
y = int(input())

mat = [[0 for j in range(y)] for i in range(x)]

for i in range(y):
  for j in range(x):
    mat[i][j] = i*j
print(*mat, sep='\n')

4
4
[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]
[0, 3, 6, 9]

In [ ]:
def generate_spec_matrix(x,y)